<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"]</title>
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css" />
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css" />
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
  <header class="navbar container grid-lg">
    <section class="brand">
      <div class="brand-icon">
        <a asp-page="/">@Html.Partial("_icon")</a>
      </div>
      <span class="brand-title">
        giftTracker
      </span>
    </section>
    <section class="navbar-section" id="custom-section">
    </section>
    <section class="navbar-section" id="logoff-section">
    </section>
  </header>


  <div class="container grid-md">
    <h1>@ViewData["Title"]</h1>
    @RenderBody()
  </div>

  <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.3.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.16.4/lodash.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.1/react.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.1/react-dom.js"></script>

  @RenderSection("scripts", required: false)
</body>
</html>
