@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
  ViewData["Title"] = "Log in";
}

@functions {
  string ValidationClassFor(string field)
  {
    var fieldValidationState = ViewData.ModelState.GetFieldValidationState(field);
    return fieldValidationState == ModelValidationState.Invalid
          ? "has-error"
          : fieldValidationState == ModelValidationState.Valid
          ? "has-success"
          : "";
  }
}

<h1>
  @ViewData["Title"]
</h1>

<div class="columns">
<div class="column">
<h2>Use a local account to log in.</h2>
<form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <div asp-validation-summary="All" class="form-input-hint"></div>
    <div class="form-group @ValidationClassFor("Email")">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-input" />
        <span asp-validation-for="Email" class="form-input-hint"></span>
    </div>
    <div class="form-group @ValidationClassFor("Password")">
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" class="form-input" />
        <span asp-validation-for="Password" class="form-input-hint"></span>
    </div>
    <div class="form-group ">
        <label class="form-checkbox" asp-for="RememberMe">
            <input asp-for="RememberMe" />
            <i class="form-icon"></i>
            @Html.DisplayNameFor(m => m.RememberMe)
        </label>
    </div>
    <div class="form-group ">
        <button type="submit" class="btn btn-primary">Log in</button>
    </div>
</form>
<p>
    <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>
</p>
<p>
    <a asp-action="ForgotPassword">Forgot your password?</a>
</p>
</div>
<div class="divider-vert" data-content="OR"></div>
<div class="column">

<h2>Use one of the following service to log in.</h2>
@{
  var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
  <form
    asp-controller="Account"
    asp-action="ExternalLogin"
    asp-route-returnurl="@ViewData["ReturnUrl"]"
    method="post"
    class="form-horizontal">
    <div>
      <p>
        @foreach (var provider in loginProviders)
        {
          <button
          type="submit"
          class="btn btn-primary btn-lg"
          name="provider"
          value="@provider.Name"
          title="Log in using your @provider.DisplayName account">
            @provider.Name
          </button>
        }
      </p>
    </div>
  </form>
}
</div>

</div>
